header {
  margin: 25px;
}

h1 {
  text-align: center;
  margin: 25px;
  padding: 25px;
  border: 2px solid coral;
  background: coral;
  border-radius: 75px;
  font-family: 'Times New Roman', Times, serif;
}
